<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация в системе</title>
    <link rel="stylesheet" th:href="@{/css/auth.css}">
</head>
<body>
<div class="login-form">
    <h2>Регистрация</h2>
    <form action="/api/auth/process-sign-up" method="post">
        <div class="form-group">
            <label for="username">Имя пользователя:</label>
            <input type="text" id="username" name="username" placeholder="Введите username" required>
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" placeholder="Введите пароль" required>
        </div>
        <input type="submit" value="Регистрация">
    </form>
    <p style="text-align: center; margin-top: 15px;">
        <a href="/api/auth/sign-in">Уже зарегистрирован</a>
    </p>
</div>
</body>
</html>